* {
    margin: 0;
    padding: 0;
  }

  .container {
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 150px);
    font-size: 5rem;
  }
  
  .container div {
    background-color: rebeccapurple;
    color: white;
    padding: 1rem;
  }
  ul {
    list-style: none;
  }
  
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;

  }
  h2 {
    margin-bottom: 20px;
    font-size: 38px;
  }
  h3 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  h4 {
    font-size: 24px;
  }
  header nav img {
    width: 100px;
  }
  .logo {
    width: 300px;
  }
  
  section#entrada p {
    color: #bb285c;
    text-align: left;
  }
  section#entrada p span {
    color: #bb285c;
  }
  
  section#entrada h1 {
    color: #0844a4;
  }

  section#news p {
    color: #bb285c;
    margin-left: 20%;
    margin-right: 20%;
  }

  section#news h1 {
    color: #4dd7fa;
    text-align: center;

  }
  section#entrada h2 {
    color: #fff;
  }
  section#entrada {

    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
  }
  
  section#nosotros {
    background-color: #c9f1fd;
    color: #bb285c;
  }
  
  section#nosotros h2 {
    color: white;
  }
  section#nosotros h4 {
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
  }

  section#nosotros article {
    margin-bottom: 25px;
  }

  .img-inicio {
    width: 700px;
    height: 400px;

  }
  .img-icono {
    width: 50px;
    height: 55px;
    border-radius: 50%;
  }
  
  section#contacto {
    background-image: url('imagenes/logo.jpg');
    background-repeat: repeat;
    background-size: 100px;
  }
  
  section.estilo-seccion {
    padding: 64px 50px;
    text-align: center;
  }

 section#footer {
    background-color: #f2c9fb;
    background-size: 100px;
    padding: 64px 50px;
    text-align: center;
    color:#00a4d3
  }
  
  